<html>
    <head><title><%= title %></title></head>
    <body>
        <h1>Message Details</h1>
        <div>
            <h2>Author: <%= message.user %></h2>
            <p>Message: <%= message.text %></p>
            <p>Added on: <%= message.added %></p>
        </div>
        <a href="/">Back to Home</a>
    </body>
</html>